<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>About us</title>
  </head>
  <body>
    <h1>About Us</h1>

    <p>
      Created by musician Damon Albarn and artist Jamie Hewlett, Gorillaz is
      singer 2D, bassist Murdoc Niccals, drummer Russel Hobbs and guitarist
      Noodle. The BRIT and Grammy-winning virtual band formed following a
      collision of mishaps, meetings and pure luck to blow up a pre-digital
      world with their colourful backstory and ground-breaking virtual ways.
    </p>
    <p>
      Based at Kong Studios in West London, Gorillaz settled into a life of
      musical innovation with an eye-wateringly exciting roster of
      collaborators, a list that includes musical legends, geniuses and future
      stars from Elton John to Little Simz, MF Doom to Jean-Michel Jarre, Grace
      Jones to slowthai, Kali Uchis to Sidiki Diabaté, plus so many more. With
      seven albums to their name, Gorillaz (2001), Demon Days (2005), Plastic
      Beach (2010), The Fall (2011), Humanz (2017), The Now Now (2018) and Song
      Machine: Season One - Strange Timez (2020), Gorillaz is a truly global
      phenomenon, achieving success in entirely new and unique ways, touring the
      world from San Diego to Syria, Montevideo to Manchester and winning
      numerous awards including the coveted Jim Henson Creativity Honor.
    </p>
    <p>
      The band are recognised by The Guinness Book Of World Records as the
      planet's Most Successful Virtual Act.
      <link href="http://www.gorillaz.com/" />
    </p>

    <div class="header">
      <a href="/home" class="home-button">Home Page</a>
      <a href="/work" class="work-button"> Works Page</a>
    </div>
    <div class="noodle-img">
      <img class="img-size2" src="image/noodle.png" />
    </div>
  </body>
</html>
