<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Works Page</title>
  </head>
  <body>
    <h1>History</h1>

    <p>
      The band's third album, Plastic Beach (2010), featured environmentalist
      themes, a synth-pop approach and an expanded roster of featured artists.
    </p>
    <p>
      Their fourth album, The Fall (2010), was recorded on the road during the
      Escape to Plastic Beach Tour and released on 25 December 2010. During
      2015, Remi Kabaka Jr. became a music producer for the band after more than
      10 years providing the voice of Russel and was credited as such alongside
      Albarn and Hewlett in the official 2019 documentary Gorillaz: Reject False
      Icons.
    </p>
    <p>
      The band's fifth album, Humanz, was released after a seven-year hiatus on
      28 April 2017. Their sixth album, The Now Now (2018), featured
      stripped-down production and a greater musical focus on Albarn. Gorillaz'
      started a new project in 2020, Song Machine, a music-based web series with
      episodes that consist of standalone singles and accompanying music videos
      featuring different guests each episode, resulting in their seventh album,
      Song Machine, Season One: Strange Timez (2020). In 2023, the band will
      release its eighth studio album, Cracker Island.
    </p>
    <div class="header">
      <a href="/home" class="home-button">Home Page</a>
      <a href="/info" class="about-button"> About us</a>
    </div>
    <div class="gif-logo">
      <img class="img-size3" src="image/footer-logo.gif" />
    </div>
  </body>
</html>
